/*-------------
    RESET
--------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------
    TYPO
--------------*/
body{
    font-family: 'Montserrat', sans-serif;
}

/*-------------
    HEADER
--------------*/
.upgrade-header{
    background-color: #080b12;
    height: 100px;
    width: calc( 100% - 230px );
    position: fixed;
    right: 0;
    opacity: 0.8;
}

.header-buttom{
    position: absolute;
    right: 5px;
    top: 20px;
    text-transform: uppercase;
    font-size: 17px;
    color: white;
    background-color: inherit;
    border-color: white;
    border-radius: 30px;
    padding: 15px 40px;
    transition: width, height;
}

/*-------------
    ASIDE
--------------*/

.container-aside{
    display: flex;
    flex-direction: column;
    width: 230px;
    height: calc( 100vh - 100px );
    background-color: black;
    /* overflow-y: scroll; */
}

.logo-lg-spotify{
    height: 40px;
    margin: 20px 0 30px 20px;
}

.main-nav-aside ul li{
    color: #a3a3a3;
    padding-left: 20px;
    margin-bottom: 15px;
    transition: color;
}

.main-nav-aside ul li img{
    height: 30px;
    vertical-align: middle;
}

.main-nav-aside ul li:first-of-type{
    border-left: 3px solid #adff2f;
}

.playlist-nav{
    color: white;
    padding-left: 20px;
    overflow-y: auto;
    height: 100%;
}

.playlist-nav ul{
    list-style: none;
    margin-top: 20px;
}

.playlist-nav ul li{
    margin-bottom: 20px;
    color: #a3a3a3;
    transition: color;
}

.playlist-nav ul li i{
    font-size: 40px;
    vertical-align: middle;
}

.user{
    color: #a3a3a3;
    padding: 0 20px;
    transition: color;
}

.user h4{
    display: inline-block;
    color: white;
}

.user hr{
    margin: 10px 0;
}

.icona-download{
    height: 15px;
    margin-right: 10px;
}

.profile-icon{
    height: 30px;
    width: 30px;
    background-color: #808080;
    border-radius: 50%;
    vertical-align: middle;
    margin-bottom: 10px;
    margin-right: 10px;
}

/*-------------
    MAIN
--------------*/
.container-main{
    display: flex;
}

.menu-container{
    display: flex;
    flex-direction: row;
    background-color: #141922;
    width: 100%;
    height: calc( 100vh - 100px );
    overflow-y: scroll;
    flex-wrap: wrap;
    align-content: flex-start;
}

.main-nav-menu{
    display: inline;
    color: #a3a3a3;
    height: fit-content;
    padding-top: 120px;
    margin: 0 auto;
}

.main-nav-menu ul li{
    display: inline-block;
    margin: 0 9px;
    transition: color;
}

section{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    color: white;
    padding-left: 20px;
    margin-top: 55px;
    text-align: center;
    margin-bottom: 20px;
}

.section-title{
    width: 100%;
    text-align: left;
    padding-left: 10px;
}

.section-title h2{
    font-size: 35px;
}

.section-title span{
    color: #727579;
    font-weight: bold;
}

.album{
    margin-top: 30px;
    width: calc( 100% / 6 - 20px );
    margin: 30px 10px;
}

.album h3{
    margin: 20px 0 10px;
    font-size: 25px;
}

.album span{
    color: #727579;
    font-weight: bold;
}

.album img{
    width: 100%;
    display: block;
}

.album-image {
    position: relative;
    overflow: hidden;
}

.artist-img{
    border-radius: 50%;
}


/*-------------
    FOOTER
--------------*/
footer{
    width: 100%;
    height: 100px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
}

.song-playing{
    display: flex;
    color: #7b7b7b;
    transition: color text-decoration;
}

.song-name{
    display: flex;
    align-items: center;
    font-weight: bold;
}

.song-name h5{
    color: white;
    font-size: 18px;
}

.song-name img{
    height: 100%;
    padding: 25px 15px;
}

.icons{
    line-height: 100px;
    font-size: 18px;
    margin-left: 55px;
}

.icons i{
    margin: 0 5px;
}

.multimedia-buttons{
    text-align: center;
}

.buttons-top{
    color: white;
    font-size: 20px;
    margin-top: 10px;
}

.buttons-top i{
    margin: 0 15px;
}

.buttons-top i:nth-child(3){
    font-size: 35px;
}

.song-progressive{
    display: flex;
    color: white;
    font-weight: bold;
    font-size: 12px;
    align-items: center;
    margin-top: 15px;
}

.bar{
    height: 5px;
    background-color: #5a5a5a;
    border-radius: 2.5px;
}

.bar.song-b{
    width: 430px;
    margin: 0 40px;
}

.volume{
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
}

.bar.volume-b{
    width: 120px;
    margin-right: 20px;
}

.bar-progression{
    height: 5px;
    width: 20%;
    background-color: #c1c1c1;
    border-radius: 2.5px;
    transition: background-color;
    position: relative;
}

.bar-progression i{
    position: absolute;
    right: 0;
    top: -2.5px;
    font-size: 12px;
    opacity: 0;
    transition: opacity;
}

/*-------------
    EFFECTS
--------------*/
/* effetti header */
.header-buttom:hover{
    width: 300px;
    height: 60px;
}

/* effeti aside */
.main-nav-aside ul li:hover{
    color: white;
    cursor: pointer;
}

.playlist-nav ul li:hover{
    color: white;
    cursor: pointer;
}

.user:hover{
    color: white;
    cursor: pointer;
}

/* effetti main */
.main-nav-menu ul li:hover{
    color: white;
    cursor: pointer;
}

.album-image::after {
    content: "\f144";
    font-family: "Font Awesome 6 Free";
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0,0,0,0.4);
    font-size: 60px;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s;
}

.album:hover .album-image::after {
    opacity: 1;
}

/* effetti footer */
.song-playing span:hover{
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.song-playing i:hover{
    color: white;
    cursor: pointer;
}

.bar-progression:hover{
    background-color: #adff2f;
    cursor: pointer;
}

.bar-progression i:hover{
    opacity: 1;
}